#heading {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
h1 {
  font-size: 2em;
  border: 0px solid black;
  padding: 0px;
  margin: 0px;
}
#topnav {
  font-size: 1em;
  text-align: right;
}
#topnav-link a {
  margin-left: 20px;
  border: 0px solid black;
}
#top-block {
  height: 30px;
  width: 100%;
  background-color: purple;
  display: block;
 
}

.the-prophets {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: column;
}

.the-topics {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#footer {
  margin-top: 50px;
  height: 30px;
  background-color: gray;
}

#donate {
  display: block;
  height: 100%;
  margin: auto;
  align-items: center;
}

#rock-bottom {
  height: 20px;
  background-color: black;
}
