#the-prophets {
    margin: auto;
    border: 0px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  
  .prophet-img {
    margin-right: 10px;
  }

  .prophet-image {
    width: 100%;
    line-height: 25px;
  }

  .prophet-bg-info {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  dt {
    margin-bottom: 10px;
  }
  dd {
    margin-left: 1em;
    margin-bottom: 10px;
  }
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .break-down-title {
    margin-bottom: 10px;
  }
  li {
    margin-left: 1em;
    font-size: 12px;
  }