.topnav {

  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  
  border: 1px solid black;
  position: fixed;
  left: 79vw;

}

.topnav a {
  border: 0px solid black;
  padding: 5px;
  text-decoration: none;
  
}

#app p, .prophet-image{
width: 50%;
line-height: 25px;
}

#top-block {
  height: 30px;
  background-color: purple;
}

hr {
  width: 30%;
}

h1 {
  font-size: 3em;
  border: 0px solid black;
}



#intro {
  line-height: 1.5em;
 
  margin: 0 0 1.5em 0.5em;
  display: flex;
  justify-content: left;
}

#survey {
  margin-top: 15px;
}
#s-radio {
  display: block;
}
#survey-submit {
  margin-top: 15px;
}
#story-gen {
  text-align: center;
}

#sacred-geo {
  border: 0px solid black;
  width: 25%;
  display: block;
  position: fixed;
  top: 38vh;
  left: 78vw;
  visibility: hidden;
}

#geo {
  width: 80%;
}
#geo-dialogue {
  margin-left: 55px;
}

#the-prophets {
  margin: auto;
  
  border: 0px solid black;
}

.prophet-img {
  margin-right: 10px;
}
.prophet-bg-info {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

dt {
  margin-bottom: 10px;
}
dd {
  margin-left: 1em;
  margin-bottom: 10px;
}
ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.l-title {
  margin-bottom: 10px;
}
li {
  margin-left: 1em;
}

